@model IEnumerable<WorldOfWarshipsAcademy.Models.AircraftCarriers>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('https://miro.medium.com/max/1200/1*2eUGbqPEKciO7twv-mS3jQ.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Warships Academy</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Warships Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form asp-controller="AircraftCarriers" asp-action="Index">
            <p>
                SEARCH: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="About">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<body class="align-content-center">
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h4 class="display-4 text-center"><strong>Aircraft Carriers</strong></h4>
        </header>
        <table class="table">
            <thead class="jumbotron my-4 text-center">
                <tr>
                    <th class="align-content-center">
                        Image
                    </th>
                    <th class="align-content-center">
                        Tier
                    </th>
                    <th class="align-content-center">
                        Ship Name
                    </th>
                    <th class="align-content-center">
                        Survivability
                    </th>
                    <th class="align-content-center">
                        Aircraft
                    </th>
                    <th class="align-content-center">
                        Artillery
                    </th>
                    <th class="align-content-center">
                        AA Defense
                    </th>
                    <th class="align-content-center">
                        Maneuverability
                    </th>
                    <th class="align-content-center">
                        Concealment
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="jumbotron my-4 text-center">
                @foreach (var item in Model)
                {
                    <container>
                        <tr>
                            <td class="align-content-center">
                                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" height="75" />
                            </td>
                            <td class="align-content-center">
                                @item.Tier
                            </td>
                            <td class="align-content-center">
                                @item.ShipName
                            </td>
                            <td class="align-content-center">
                                @Html.DisplayFor(modelItem => item.Survivability)
                            </td>
                            <td class="align-content-center">
                                @Html.DisplayFor(modelItem => item.Aircraft)
                            </td>
                            <td class="align-content-center">
                                @Html.DisplayFor(modelItem => item.Artillery)
                            </td>
                            <td class="align-content-center">
                                @Html.DisplayFor(modelItem => item.AaDefense)
                            </td>
                            <td class="align-content-center">
                                @Html.DisplayFor(modelItem => item.Maneuverability)
                            </td>
                            <td class="align-content-center">
                                @Html.DisplayFor(modelItem => item.Concealment)
                            </td>
                            <td class="align-content-lg-center">
                                <a asp-action="Details" asp-route-id="@item.Abbrev">Details</a>
                            </td>
                        </tr>
                    </container>
                }
            </tbody>
        </table>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Warships Academy 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>