@model IEnumerable<WorldOfWarshipsAcademy.Models.AircraftCarriers>

@{
    ViewData["Title"] = "Index";
}

<h1>Aircraft Carriers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survivability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aircraft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artillery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AaDefense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maneuverability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concealment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbbrevNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survivability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aircraft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artillery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AaDefense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maneuverability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concealment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbbrevNavigation.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationNavigation.NationAbbrev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Abbrev">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Abbrev">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Abbrev">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
